.editBtN_snackbar:last-child {
    display: none
}


.meal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.addExtraMeal {
    border: none;
    color: blue;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 10px;
}

.disabledExtraMeal {
    border: none;
    color: lightgray;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 10px;
}



