.modal_background{
    width: 100%;
    height: 100%;
    background-color: #e6f3f8;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_window{
    padding: 25px;
    border: solid 2px darkgray;
    align-content: space-around;
}

.modal_close_icon{
    width: 25px;
}

.modal_btn {
    align-self: flex-end;
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
    margin: 20px;
}




