.btn_settings_position {
    margin-left: 85%;
}

.listOfMeals {
    display: flex;
    flex-direction: column;
}

.btn_position {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsIcon {
    width: 25px;
    height: 25px;
}



