.btn_settings_position {
    margin-left: 85%;
    margin-bottom: 20px;
}

.listOfMeals {
    display: flex;
    flex-direction: column;
}

.btn_position {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.settingsIcon {
    width: 25px;
    height: 25px;
}



